<div class="table-draw">
    {{#if tableData.description}}
    <div class="table-description">{{tableData.description}}</div>
    {{/if}}
    {{#if currency}}
    <div class="table-description" style="font-size: 15px; text-align: center; font-weight:bold;"> {{localize 'BRT.Currency'}}{{currency}}</div>
    {{/if}}

    <ol class="table-results">
        {{#each itemsData as |itemData|}}
        <li class="table-result flexrow">
            <img class="result-image" src="{{itemData.item.img}}">
            <div class="result-text" style="font-size: {{itemData.fontSize}}%;">
                <a class="entity-link" draggable="true" {{#if itemData.item.compendium}}
                    data-pack="{{itemData.item.compendium.collection}}"
                    {{else}}
                    data-entity="Item"
                    {{/if}} data-id="{{itemData.item.id}}">
                    <i class="fas fa-suitcase"></i> {{itemData.item.name}}
                </a>
                {{#ifgt itemData.quantity 1 }}<strong>&nbsp; &#xD7; {{itemData.quantity}}</strong>{{/ifgt}}
            </div>
        </li>
        {{/each}}
    </ol>
</div>