<div class="table-draw">
    {{#if tableData.description}}
    <div class="table-description">{{tableData.description}}</div>
    {{/if}}
    {{#if currency}}
    <div class="table-description" style="font-size: 15px; text-align: center;">
        <strong>{{localize 'BRT.Currency'}}</strong>&nbsp;{{currency}}
    </div>
    {{/if}}

    <ol class="table-results">
        {{#each itemsData as |itemData|}}
        <li class="table-result flexrow">
            <img class="result-image" src="{{itemData.item.img}}">
            <div class="result-text" style="font-size: {{itemData.fontSize}}%;">
                <a class="entity-link" draggable="true" data-entity="Item" 
                {{#if itemData.item.compendium}}
                    data-pack="{{itemData.item.compendium.collection}}" data-lookup="{{itemData.item.id}}" 
                    {{else}}
                    data-id="{{itemData.item.id}}" 
                    {{/if}}>
                    <i class="fas fa-suitcase"></i> {{itemData.item.name}}
                </a>
                <strong>&nbsp;x{{itemData.quantity}}</strong>
            </div>
        </li>
        {{/each}}
    </ol>
</div>