<div class="form-group">
    <label>{{localize 'BRT.TypeLabel'}}</label>
    <select {{#if disabled}}disabled{{/if}}>
        {{#select better-rolltables.table-type}}
        <option value="none">{{localize 'BRT.TypeDefault'}}</option>
        <option value="better">{{localize 'BRT.BetterTable'}}</option>
        <option value="loot">{{localize 'BRT.TypeLoot'}}</option>
        <option value="story">{{localize 'BRT.StoryLoot'}}</option>
        {{/select}}
    </select>
</div>

{{#ifcontain better-rolltables.table-type "loot"}}
<div class="form-group">
    <label>{{localize 'BRT.CurrencyLoot'}}</label>
    <input type="text" placeholder="{{localize 'BRT.CurrencyLootPlaceholder'}}" name="currency-input"
        value="{{better-rolltables.table-currency-string}}" {{#if disabled}}disabled{{/if}}>
</div>
{{/ifcontain}}

{{#ifcontain better-rolltables.table-type "loot" "better"}}
<div class="form-group">
    <label>{{localize 'BRT.LootRollAmount'}}</label>
    <input type="text" placeholder="{{localize 'BRT.LootRollAmountPlaceholder'}}" name="loot-rolls-amount-input"
        value="{{better-rolltables.loot-amount-key}}" {{#if disabled}}disabled{{/if}}>
</div>
{{/ifcontain}}

{{#ifcontain better-rolltables.table-type "loot"}}
<div class="form-group">
    <label>{{localize 'BRT.LootActorName'}}</label>
    <input type="text" placeholder="{{localize 'BRT.LootActorNamePlaceholder'}}" name="loot-name-input"
        value="{{better-rolltables.loot-actor-name}}" {{#if disabled}}disabled{{/if}}>
</div>
{{/ifcontain}}