<fieldset>
    <legend class="toggler" data-expands='.table-results'>
        <i class="fas fa-cogs"></i> {{localize 'BRT.Buttons.Rolltable.Configuration.Title'}}<i class="toggleicon fas fa-expand-alt"></i>
    </legend>
    <main class="brt-hidden">
        <section class="tags" style="float: right;">
            <header class="toggler">
                {{localize 'BRT.Settings.Tags.Title'}} <i class="toggleicon fas fa-expand-alt"></i>
            </header>
            <div class="brt-hidden">
                <input type="hidden" name="flags.better-rolltables.tags" value="{{better-rolltables.tags}}">
                <div class="tagger"></div>
            </div>
        </section>
        <div class="form-group">
            <label>{{localize 'BRT.TypeLabel'}}</label>
            <select {{#if disabled}}disabled{{/if}} name="flags.better-rolltables.table-type">
                {{#select better-rolltables.table-type}}
                <option value="none">{{localize 'BRT.TypeDefault'}}</option>
                <option value="better">{{localize 'BRT.BetterTable'}}</option>
                <option value="loot">{{localize 'BRT.TypeLoot'}}</option>
                <option value="story">{{localize 'BRT.StoryLoot'}}</option>
                {{/select}}
            </select>
        </div>
        
        <div class="form-group {{#ifcontain better-rolltables.table-type "loot"}}{{else}}hidden{{/ifcontain}}">
            <label>{{localize 'BRT.CurrencyLoot'}}</label>
            <input type="{{#ifcontain better-rolltables.table-type "loot"}}text{{else}}hidden{{/ifcontain}}"
                placeholder="{{localize 'BRT.CurrencyLootPlaceholder'}}"
                name="flags.better-rolltables.table-currency-string" value="{{better-rolltables.table-currency-string}}"
                {{#if disabled}}disabled{{/if}}>
        </div>
        <div class="form-group {{#ifcontain better-rolltables.table-type "none"}}hidden{{/ifcontain}}">
            <label for="flags.better-rolltables.loot-amount-key">{{localize 'BRT.LootRollAmount'}}</label>
            <input type="{{#ifcontain better-rolltables.table-type "none"}}hidden{{else}}text{{/ifcontain}}"
                placeholder="{{localize 'BRT.LootRollAmountPlaceholder'}}"
                name="flags.better-rolltables.loot-amount-key" value="{{better-rolltables.loot-amount-key}}" {{#if
                disabled}}disabled{{/if}}>
        </div>
        <div class="form-group {{#ifcontain better-rolltables.table-type "loot"}}{{else}}hidden{{/ifcontain}}">
            <label>{{localize 'BRT.LootActorName'}}</label>
            <input type="{{#ifcontain better-rolltables.table-type "loot"}}text{{else}}hidden{{/ifcontain}}"
                placeholder="{{localize 'BRT.LootActorNamePlaceholder'}}" name="flags.better-rolltables.loot-actor-name"
                value="{{better-rolltables.loot-actor-name}}" {{#if disabled}}disabled{{/if}}>
        </div>
    </main>
</fieldset>